{
	"presets": [
		"es2015",
		"stage-0",
	],
	"env": {
		"umd": {
			"plugins": [
				["transform-es2015-modules-umd", {
					"globals": {
						"index": "EmitLite"
					},
					"exactGlobals": true
				}]
			],
		},
		"min": {
			"presets": ["babili"],
			"plugins": [
				["transform-es2015-modules-umd", {
					"globals": {
						"index": "EmitLite"
					},
					"exactGlobals": true
				}]
			],
		},
	}
}
